In [1]:
# import statements
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import VectorAssembler
from pyspark.sql.functions import isnull, when, count, col
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator

sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/26 16:29:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
# Read  the data from  dbfs:/databricks-datasets/adult/adult.data  into Saprk dataframe 
file_path= 'file:////Users/kaustuvkunal/Learning/LTI_Mindtree/PySpark_CodingQuestion1/data/employee.csv'
df=spark.read.format("csv").option("header", "true").option("inferschema","True").load(file_path)

In [11]:
df.collect()

[Row(employee_id=1, first_name='John', last_name='Doe', salary=50000),
 Row(employee_id=2, first_name='Jane', last_name='Smith', salary=60000),
 Row(employee_id=3, first_name='Bob', last_name='Johnson', salary=75000),
 Row(employee_id=4, first_name='Alice', last_name='Williams', salary=55000),
 Row(employee_id=5, first_name='Charlie', last_name='Brown', salary=80000)]

In [12]:
df.show()

+-----------+----------+---------+------+
|employee_id|first_name|last_name|salary|
+-----------+----------+---------+------+
|          1|      John|      Doe| 50000|
|          2|      Jane|    Smith| 60000|
|          3|       Bob|  Johnson| 75000|
|          4|     Alice| Williams| 55000|
|          5|   Charlie|    Brown| 80000|
+-----------+----------+---------+------+

In [15]:
# Register the DataFrame as a temporary SQL table
df.createOrReplaceTempView("employees")

In [16]:
# SQL query to get the average salary of employees
average_salary_query = "SELECT AVG(salary) as avg_salary FROM employees"

In [17]:
# Execute the SQL query and store the result in a DataFrame
result_df = spark.sql(average_salary_query)

In [18]:
result_df.show()

+----------+
|avg_salary|
+----------+
|   64000.0|
+----------+

In [20]:
employee = df

In [26]:
from pyspark.sql.functions import avg
employee.select(avg("salary").alias("avg_salary")).first()["avg_salary"]

64000.0

In [ ]:
from pyspark.sql.functions import coalesce


employee.select(avg(coalesce(employee["salary"], 0))).first()[0]

In [36]:
from pyspark.sql.functions import avg, coalesce, lit
df=employee
employee.select(avg(coalesce(employee["salary"], lit(0)))).first()[0]

64000.0

In [28]:
! pip install PyArrow

Collecting PyArrow
  Obtaining dependency information for PyArrow from https://files.pythonhosted.org/packages/9d/7e/026be3d56c930bfc3557a42baebfe7c10c4e32ea7db7861f4b40e54adf1e/pyarrow-13.0.0-cp311-cp311-macosx_10_14_x86_64.whl.metadata
  Downloading pyarrow-13.0.0-cp311-cp311-macosx_10_14_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: numpy>=1.16.6 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from PyArrow) (1.25.2)
Downloading pyarrow-13.0.0-cp311-cp311-macosx_10_14_x86_64.whl (25.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 25.8/25.8 MB 4.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: PyArrow
Successfully installed PyArrow-13.0.0

In [42]:
data = [("John", "Doe", 50000),
                     ("Jane", "Smith", 60000),
                     ("Bob", "Johnson", 75000),
                     ("Alice", "Williams", 55000),
                     ("Charlie", "Brown", 80000),
                     ("Eve", "Taylor", None),
                     ("Frank", "Wilson", -10000),
                     ("Grace", "Adams", 90000),
                     ("Harry", "Clark", 40000),
                     ("Ivy", "Davis", 30000)]
schema = ["first_name", "last_name", "salary"]
df =  spark.createDataFrame(data, schema)

df.select(avg(coalesce(df["salary"], lit(0)))).first()[0]

47000.0